<mat-toolbar class="toolbar">
  <img
    routerLink="home"
    class="icon"
    src="assets/img/tower.jpg"
    alt="tower icon"
  />

  <span class="title"><a routerLink="home">Tower</a></span>
  <span class="toolbar-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <ng-container *ngIf="user$ | async as user; else login">
      <a mat-menu-item routerLink="/account/profile">My Profile</a>
      <a mat-menu-item (click)="logout()">Log Out</a>
    </ng-container>
    <ng-template #login>
      <a mat-menu-item routerLink="/account/login">Log In</a>
    </ng-template>
  </mat-menu>
</mat-toolbar>
<router-outlet />
