@use "@angular/material" as mat;
@use "../../../themes/theme.scss" as my-theme;

@import "../../../styles.scss";

.title {
  @extend .title-font;
  font-size: 3rem;

  a {
    all: unset;
    cursor: pointer;
  }
}

.icon {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  clip-path: circle();
}

.toolbar {
  height: fit-content;
  background-color: var(--mat-sys-primary);
  border-bottom: 2px solid black;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
