<div class="main-content">
  <!-- <div class="content">
    <div class="content__container">
      <ul class="content__container__list">
        <li class="content__container__list__item">Welcome back!</li>
        <li class="content__container__list__item">Bienvenido de nuevo!</li>
        <li class="content__container__list__item">Content de te revoir!</li>
        <li class="content__container__list__item">Bem vindo de volta!</li>
      </ul>
    </div>
  </div> -->
  <div class="new-button">
    <button mat-fab extended style="height: 40px">
      <mat-icon>add</mat-icon>New
    </button>
  </div>
  <h2>Welcome back!</h2>
  <div class="button-list">
    <button mat-fab extended class="home-button">
      <mat-icon>list</mat-icon>Flashcards
    </button>
    <button mat-fab extended class="home-button">
      <mat-icon>assignment</mat-icon>Learn
    </button>
    <button mat-fab extended class="home-button">
      <mat-icon>library_books</mat-icon>Library
    </button>
  </div>
  <div style="margin-top: 60px">
    <h4 class="article-header">Recently Viewed</h4>
    <article>
      Spanish (español) or Castilian (castellano) is a Romance language of the
      Indo-European language family that evolved from the Vulgar Latin spoken on
      the Iberian Peninsula of Europe. Today, it is a global language with about
      500 million native speakers, mainly in the Americas and Spain, and about
      600 million when including second language speakers. Spanish is the
      official language of 20 countries, as well as one of the six official
      languages of the United Nations. Spanish is the world's second-most spoken
      native language after Mandarin Chinese; the world's fourth-most spoken
      language overall after English, Mandarin Chinese, and Hindustani
      (Hindi-Urdu); and the world's most widely spoken Romance language. The
      country with the largest population of native speakers is Mexico.
    </article>
  </div>
</div>
