<div class="mb-4 p-8 container">
  <p-card [style]="{ width: '25rem', overflow: 'wrap' }">
    <div class="flex gap-4 mt-1">
      <p-button
        label="My Flashcards"
        class="w-full"
        styleClass="w-full"
        [style]="{ height: '16rem' }"
        routerLink="/flashcards"
      />
    </div>
  </p-card>
  <p-card [style]="{ width: '25rem', overflow: 'wrap' }">
    <div class="flex gap-4 mt-1">
      <p-button
        label="New Set"
        class="w-full"
        styleClass="w-full"
        [style]="{ height: '16rem' }"
        routerLink="/new-set"
      />
    </div>
  </p-card>
</div>
