<h2 mat-dialog-title>New Flashcard</h2>
<mat-dialog-content class="dialog-content">
  <div class="card">
    <mat-form-field appearance="outline" class="text">
      <mat-label>Front</mat-label>
      <input matInput [(ngModel)]="frontText" />
    </mat-form-field>
  </div>
  <div class="card">
    <mat-form-field appearance="outline" class="text">
      <mat-label>Back</mat-label>
      <input matInput [(ngModel)]="backText" />
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="onOk()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
