.dialog-content {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.card {
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border: 1px solid black;
  width: 150px;
  height: 225px;
  position: relative;
  margin: 10px 20px 30px 20px;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  height: 100%;
}
