<div class="page-container">
  <h2>Create a New Set!</h2>
  <p>
    Enter a prompt describing the words or topics you want to study! (eg. I want
    to learn about the parts of a car in Spanish/Norwegian/French, such as
    tires, pedals, and headlights.) You can also enter your words manually!
  </p>
  <div class="text-container">
    <textarea
      class="text"
      placeholder="Type here..."
      #text
      [style]="{ color: 'black' }"
    ></textarea>
    <div class="spinner-container" *ngIf="loading">
      <p-progress-spinner />
    </div>
  </div>
  <button (click)="generateWords(text.value)">Generate!</button>

  <div class="table-container">
    <p>Set Title:</p>
    <input [(ngModel)]="set.title" />
    <table class="flashcard-table">
      @for(card of set.cards; track $index) {
      <div class="row">
        <tr>
          <td class="index">{{ $index + 1 }}</td>
          <td>
            <input [(ngModel)]="card.frontText" (focus)="idx = $index" />
          </td>
          <td>
            <input [(ngModel)]="card.backText" (focus)="idx = $index" />
          </td>
        </tr>
        @if ($index == idx) {
        <button class="del-button" (click)="set.cards.splice($index, 1)">
          Del
        </button>
        }
      </div>
      }
    </table>
    <button class="add-button" (click)="addRow()">
      <img src="assets/icons/add-sign.svg" />
    </button>
  </div>
  <button (click)="save()">Save</button>
</div>

<div class="card flex justify-center">
  <p-dialog header="Error!" [modal]="true" [(visible)]="error">
    <span class="p-text-secondary block mb-8">
      You must log in to save your flashcard set.
    </span>
  </p-dialog>
</div>
