.flashcard-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  justify-items: center;
  margin: 20% 20% 0 20%;
}

.card-input {
  margin-top: 20px;
  width: 160px;
  height: 80px;
  padding: 0 20px 0 20px;
  /* TODO center */
  position: relative;
  left: 37%;
}

.flashcard {
  grid-column: 2/3;
  grid-row: 1;
  width: fit-content;
}

.left-button {
  grid-column: 0/3;
  grid-row: 1;
  top: 30%;
  align-items: center;
}

.right-button {
  grid-column: 3/3;
  grid-row: 1;
  top: 30%;
  align-items: center;
}
