/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "Lily Script One";
  src: url("https://fonts.googleapis.com/css?family=Lily Script One");
}

@font-face {
  font-family: "Libre Bodoni";
  src: url("https://fonts.googleapis.com/css?family=Libre Bodoni");
}
